.report {
  &__dot {
    $width: 16px;
    display: inline-block;
    width: $width;
    height: $width;
    border-radius: 50%;
    border: 2px solid #fff;
    margin-right: 5px;
    vertical-align: middle;
  }
}

.report-line {
  padding: 4px 8px;
  margin-bottom: 4px;
  border-radius: 4px;
  transition: background-color 300ms;

  &--hover {
    background-color: #282a36;
  }
}
